.metric-first-child{
    padding: 10px;
    width: 100%;
}

.metric-second-child{
    padding: 10px;
    width: 100%;
}

.bmiBbtn{
    width: 100%;
}

#result{
    text-align: center;
}

#deg{
    text-align: center;
    color: blue;
}
